@import 'superstylin';

html {
  font-size: calc(1rem + 2px + ((100vw - 600px) / 250));
  font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
  margin: 0;
  padding: 0;
  text-decoration-skip-ink: 'auto';
}

::selection {
  background-color: #ffe079;
  color: #000;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
img::selection,
b::selection {
  background-color: #ffc533;
}

