/*
  dark mode inspired by
    * https://palx.jxnblk.com/2D2D2D
    * https://medium.com/insiden26/building-the-n26-dark-mode-2fc18c2ccdd5

  colors by apple
    * https://developer.apple.com/design/human-interface-guidelines/macos/visual-design/color/
*/

@import 'superstylin';

:root {
  --blue: rgb(0, 112, 245);
  --brown: rgb(152, 122, 84);
  --gray: rgb(132, 132, 137);
  --green: rgb(30, 195, 55);
  --orange: rgb(245, 139, 0);
  --pink: rgb(245, 35, 75);
  --purple: rgb(159, 75, 201);
  --red: rgb(245, 49, 38);
  --yellow: rgb(245, 194, 0);
  --black: black;
  --base-unit: 18px;
  --font-size-h1: 2rem;
  --font-size-h2: 1.5rem;
  --font-size-h3: 1.25rem;
  --font-size-h4: 1rem;
  --font-size-h5: .875rem;
  --font-size-h6: .85rem;
  --font-size-small: .75rem;
  --font-size-code: 75%;
  --letter-spacing-ratio: -40;
  --sansFamily: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --codeFamily: PT Mono, Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  --bg: #f3f3f3;
  --textNormal: #343334;
  --textTitle: #333;
  --navText: var(--black);
  --navIcon: var(--black);
  --externalIcon: #c0bfc0;
  --navBg: white;
  --codeBg: #ebebeb;
  --codeInlineBg: #2727270d;
  --progressBg: var(--black);
  --transtionTime: .250s;
  --aside-width: 384px;
}

body.dark {
  --progressBg: white;
  --blue: rgb(20, 142, 255);
  --brown: rgb(182, 152, 114);
  --gray: rgb(162, 162, 167);
  --green: rgb(60, 225, 85);
  --orange: rgb(255, 169, 20);
  --pink: rgb(255, 65, 105);
  --purple: rgb(204, 101, 255);
  --red: rgb(255, 79, 68);
  --yellow: rgb(255, 224, 20);
  --bg: #0f1117;
  --navBg: #24292e;
  --navText: #c0bfc0;
  --navIcon: #c0bfc0;
  --externalIcon: #404040;
  --textNormal: #e0e0e0;
  --textTitle: #fff;
  --codeBg: #171d23;
  --codeInlineBg: var(--codeBg);
}

.blue {
  color: var(--blue);
}

html {
  font-size: var(--base-unit);
  font-family: var(--sansFamily);
  margin: 0;
  padding: 0;
  text-decoration-skip-ink: 'auto';
}

body {
  background-color: var(--bg);
  color: var(--textNormal);
  transition: background-color var(--transtionTime) ease-in-out;
}

nav {
  background-color: var(--navBg);
  transition: background-color var(--transtionTime) ease-in-out;
}

nav a {
  color: var(--navText);
}

nav svg {
  color: var(--navIcon);
}

nav svg svg {
  fill: var(--navIcon);
}

th {
  color: inherit;
  border-bottom: 2px solid var(--externalIcon);
}

td {
  border: 0;
}

ul {
  padding-left: 1.25rem;
}

li {
  line-height: 1.9;
}

h1 {
  font-size: var(--font-size-h1);
  letter-spacing: calc(var(--font-size-h1) / var(--letter-spacing-ratio));
  color: var(--textTitle);
}

h2 {
  font-size: var(--font-size-h2);
  letter-spacing: calc(var(--font-size-h2) / var(--letter-spacing-ratio));
  color: var(--textTitle);
}

h3 {
  font-size: var(--font-size-h3);
  letter-spacing: calc(var(--font-size-h3) / var(--letter-spacing-ratio));
}

h4 {
  font-size: var(--font-size-h4);
  letter-spacing: calc(var(--font-size-h4) / var(--letter-spacing-ratio));
}

h5 {
  font-size: var(--font-size-h5);
  letter-spacing: calc(var(--font-size-h5) / var(--letter-spacing-ratio));
}

h6 {
  font-size: var(--font-size-h6);
  letter-spacing: calc(var(--font-size-h5) / var(--letter-spacing-ratio));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--textTitle);

  a {
    color: inherit;

    &:hover {
      text-decoration: none;
      border-bottom: 1px var(--navIcon) dotted;

      &~.permalink {
        visibility: visible;
      }
    }
  }
}

code {
  border-radius: 3px;
  font-family: var(--codeFamily);
  font-size: var(--font-size-code);
  background-color: var(--codeInlineBg);
  padding: 3px 8px;
  color: var(--textNormal)
}

a {
  color: var(--blue);
  text-decoration: none;
  border-radius: 0;

  code {
    color: var(--blue);
  }

  &:focus {
    box-shadow: none;
  }
}

hr {
  border: 0;
  height: .15em;
  margin: 24px 0;
  padding: 0;
  width: 100%;
  background-color: #eaeaea;
}

img {
  max-width: 100%;
}

blockquote {
  border-left-color: var(--gray2);
}

pre {
  margin-bottom: 1.563rem !important;
}

pre,
code {
  border-radius: 3px;
}

pre>code {
  padding: calc(var(--base-unit) * 1);

  tab-size: 2;

  &::after {
    content: none;
  }
}

small {
  font-size: var(--font-size-small);
  letter-spacing: 0.005em;
  line-height: 1;
}

.external-link-icon {
  stroke: var(--externalIcon);
}

.permalink {
  visibility: hidden;

  g {
    fill: var(--navIcon);
    stroke: var(--navIcon);
  }

  path:nth-child(2) {
    stroke: var(--navIcon);
  }
}

.permalink-target {
  display: block;
  margin-top: -128px;
  padding-top: 128px;
  visibility: hidden;
  position: absolute;
}

::selection {
  background-color: #ffe079;
  color: #000;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
img::selection,
code::selection,
b::selection {
  background-color: #ffc533;
}

@import './nprogress.css';
@import 'codecopy/umd/codecopy.min.css';
@import './codecopy.css';
@import './toggle.css';
@import './prism.css';
@import 'zoom-vanilla.js/dist/zoom.css';
@import 'react-tippy/dist/tippy.css';
