/* Make clicks pass-through */

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: var(--progressBg);
  position: fixed;
  z-index: 1031;
  top: 65px;
  left: 0;
  width: 100%;
  height: 3px;
  transition: unset !important;
}

/* Fancy blur effect */

#nprogress .peg {
  box-shadow: 0 0 10px #ccc, 0 0 5px #ccc;
}
